{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_page_landing.css' %}">
{% endblock %}

{% block content %}

    <h2>{{ page.thank_you_text|richtext }}</h2>

    <div id="main-cader">
        <div id="img-div">
            <img src="{{ page.banner.url }}">
        </div>
        <div class="col-1" id="cader">
            <div id="wightcader">
                <h1 id="title">مجموعه فرهنگی مصباح</h1>
                <div id="img-div">
                    <img class="image" src="{% static 'media/image/4315445.png' %}" alt="">
                </div>
                <p>کد شما جهت شرکت در قرعه کشی :</p>
                <h2>{{ form_submission.form_data.otp_code }}</h2>
                <p>باتشکر از حضور گرمتان</p>
            </div>
        </div>
    </div>

{% endblock %}