*{
    font-family: "Kalameh Medium";
}


body{
    background-color: #0024DA;
}
@media (max-width: 600px) {
    .col-1 {width: 50%;}
}

#main-cader{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
h6{
    margin-top: 0;
    margin-bottom:1em;
}
 #cader{
     margin: auto;
    display: flex;
     width: 100%;
     height: 36em;
     justify-content: center;
     margin-top: 2em;
 }
 #img-div{
     display: flex;
 }
img{
    border-radius:2rem ;
    width:80% ;
    margin: auto;
}

 #wightcader{
     display: flex;
     flex-direction: column;
     padding:1em;
    background-color: white;
     width: 40%;
     height: 50%;
     border-radius: 10px;
     justify-content: center;
     align-items: center;
 }
 #title{
     color: #1e1e1e;
     direction: rtl;
     font-family: "Kalameh Medium";
     font-size: 80%;
 }
 p {
     font-size:50% ;
     direction: rtl;
     margin: 0;
 }
 form{
     width: 10em;
     display: flex;
     flex-direction: column;
      justify-content: center;
     align-items: center;
     gap: 1em;
 }


 input{

     direction: rtl;
     height: 2em;
     width: 100%;
     border: none;
     border-radius: 5px;
     border: #0024DA;
     background-color: #c2c2c2;
     color: #1e1e1e;
 }

 #submit{
     margin-top: 10px;
     border-radius: 5px;
     border: none;
     width: 40%;
     color: white;
     background-color: #0024DA;
     padding: 3px;
     transition-duration: 300ms;
 }
label{
    direction: rtl;
    font-size: small;
    align-self: end;
}

span{
    display: none;
}
 #submit:hover{
     background-color: green;
 }